.background-image {
    background-image: url('../images/pexels-photo-216640.jpeg');
    opacity: 0.90;
}

body {
    font-family: 'IM Fell English', serif;
    text-shadow: 0 0 2px red;
}

h1 {
    font-size: 76px;
    text-shadow: 0 1px 5px red;
}

#response {
    font-size: 30px;
    color: white;
    text-shadow: 0 0 2px red;
}

#answers {
    font-size: 24px;
    letter-spacing: 2px;
}

.fa-fire {
    font-size: 16px;
    letter-spacing: 4px;
}
